<section class='blogs'>
    <h2>Blogs</h2>
<%= form_for(blog) do |f| %>
  <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </p>
  <p>
  <%= f.label :body %>
  <%= f.text_field :body %>
  </p>
  <%= f.submit %>
<% end %>
</section>
